<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./style.css" />
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
        <title>Zombie Pages</title>

        <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="app.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous" defer></script>
    </head>
    <body class="bg-orange-100 h-screen expansion-alids-init">
     
      <div id="app">

        <div v-cloak>
      
          <div class="flex h-full w-full items-center justify-center">
            <div v-if="!user" class="flex h-full w-full justify-center">
              <div class="relative max-w-md px-8 w-full">
                
                <form class="flex flex-col p-10 rounded w-full" v-on:submit.prevent="login">
                  <div class="flex flex-col ml-2 z-40">

                    <input class="inline-block p-3 bg-gray-200 mt-10 m-2 focus:bg-white border-transparent focus:border-blue-400 rounded" placeholder=" Username" type="text" v-model="username">

                    <input class="inline-block p-3 bg-gray-200 m-2 focus:bg-white border-transparent focus:border-blue-400 rounded" placeholder=" Password" type="text" v-model="password">

                    <button class="bg-orange-200 font-bold text-gray-800 py-2 m-2 rounded" type="submit">Submit</button>
                  </div>
                  <img class="absolute place-self-center z-0" src="blood_v2.svg" alt="blood dripping"/>
                </form>
        
              </div>
            </div>
          </div>

          <div v-if="user">
            <div id="paper">
              <div id="pattern" class="pb-20">
                <div class="content" v-for="note in notes" :key="note.id">
                  <img class="avatar" :src="`https://avatars.dicebear.com/api/human/${note.user.id}.svg`" alt="avatar" />
                  <div class="text" :class="[{staticClass: true}, note.user.name]">
                    {{ note.user.name }} - {{ note.location.city }} - {{ note.timestamp }}
                    <br/>{{ note.content }}
                  </div>
                </div>
              </div>
            </div>

            <div class="h-auto bg-gradient-to-t from-red-900 to-red-600 w-full fixed bottom-0">
              <div class="w-3/4 m-auto">
                <form v-on:submit.prevent="saveNote">
                  <input placeholder="Type new note..." style="width: 100%; margin: 0.75rem; padding-top: 5px; padding-right: 15px; padding-left: 15px; border: 3px solid black; border-radius: 2rem 2rem 0rem 2rem; resize: none; box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" v-model.lazy="newNote" />
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>

    </body>
</html>