<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
        <link href="/tailwind.css" rel="stylesheet">
        <title>Zombie Pages</title>

        <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body class="bg-brown-100 h-screen expansion-alids-init">
     
      <div id="app">

        <div v-cloak>
      
          <div class="flex h-full w-full items-center justify-center">
            <div v-if="!user" class="flex h-full w-full justify-center">
              <div class="relative max-w-md px-8 w-full">
                
                <form class="flex flex-col p-10 rounded w-full" v-on:submit.prevent="login">
                  <div class="flex flex-col ml-2 z-40">

                    <input class="inline-block p-3 bg-gray-200 mt-10 m-2 focus:bg-white border-transparent focus:border-blue-400 rounded" placeholder=" Username" type="text" v-model="username">

                    <input class="inline-block p-3 bg-gray-200 m-2 focus:bg-white border-transparent focus:border-blue-400 rounded" placeholder=" Password" type="password" v-model="password">

                    <button class="bg-yellow-100 font-bold text-gray-800 py-2 m-2 rounded focus:border-blue-400" type="submit">Submit</button>
                  </div>
                  <img class="absolute place-self-center z-0" src="blood_v2.svg" alt="blood dripping"/>
                </form>
        
              </div>
            </div>
          </div>

          <div v-if="user">

            <main class="bg-gray-800 flex items-center justify-center min-h-screen pb-12">
              <div class="text-white w-full max-w-xs md:max-w-lg">
                <article class="my-4 bg-gray-500 font-mono pb-2 pt-4 px-4 rounded-lg shadow-lg border-4 border-gray-700 space-y-4" v-for="note in notes" :key="note.id" :ref="`card-${note.id}`">
                  <header>
                    <div class="flex items-baseline leading-none place-content-center space-x-2 w-full">
                      <h3>{{ note.user.name }}</h3>
                      <span class="tracking-tight text-gray-200 text-xs">{{ note.timestamp }}</span>
                    </div>
                  </header>
                  <div class="flex relative" style="min-height: 3rem;">
                    <img class="absolute bg-yellow-400 h-auto p-1 border-2 border-yellow-700 rounded-md transform -translate-x-1/2 -translate-y-1/2 w-16" :src="note.user.avatar" :alt="`${note.user.name} avatar`" />
                    <p class="ml-12">{{ note.content }}</p>
                  </div>
                  <div class="border-t-4 border-gray-400">
                    <div class="flex items-center justify-between mt-2">
                      <svg class="gsap-target cursor-pointer w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                      <div class="flex items-center space-x-2">
                        <span class="text-sm">{{ note.brain_count }}</span>
                        <button @click="feedBrain(note.id)">
                          <img class="w-5 h-5" src="brains.svg" alt="brains">
                        </button>
                      </div>
                    </div>
                    <div class="gsap-dropdown h-0 overflow-hidden text-sm">
                      <p>Location: {{ note.location.name }}</p>
                      <p>Temp: {{ note.location.temp }}</p>
                    </div>
                  </div>
                </article>
              </div>
            </main>

            <div class="h-auto bg-gray-800 w-full fixed bottom-0">
              <div class="w-3/4 m-auto">
                <form v-on:submit.prevent="saveNote">
                  <input placeholder="Type new note..." style="width: 100%; margin: 0.75rem; padding-top: 5px; padding-right: 15px; padding-left: 15px; border: 3px solid #5b5f66; border-radius: 2rem; resize: none; box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" v-model.lazy="newNote" />
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>

    </body>
</html>